body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #304352 0%, #D7CCD5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1000px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

img {
  width: 100px;
  height: 100px;
  animation: scroll 60s linear infinite;

}

.slide-track {
  width: 93rem;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 13rem;


}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}

