<body>

  <br>
  <!--Card 1-->
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
           <img clas="img" src="assets/usuario.png" alt="css centrar imagen" width="100px">
           <h3>Imagen 1</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.<p>
            <a href="#"> Read More </a>
        </div>
      </div>
    </div>
  </div>
  <!--Card 2-->
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
           <img clas="img" src="assets/usuario.png" alt="css centrar imagen" width="100px">
           <h3>Imagen 2</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.<p>
            <a href="#"> Read More </a>
        </div>
      </div>
    </div>
  </div>
  <!--Card 3-->
  <div class="container">
    <div class="card">
      <div class="face face1">
        <div class="content">
           <img clas="img" src="assets/usuario.png" alt="css centrar imagen" width="100px">
           <h3>Imagen 3</h3>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
            <p>Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.<p>
            <a href="#"> Read More </a>
        </div>
      </div>
    </div>
  </div>
</body>




